
#wrapper {
    max-width: 600px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 16px;
}

section {
    padding: 30px 16px;
}

    .section-title {
        margin-bottom: 16px;
    }

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
    h4 {
        font-size: 0.75em;
    }

.form-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    .form-actions > button {
        width: 100%;
    }